PORT=5000
MONGO_URI=mongodb+srv://strykon_db_user:Strykon2026@strykon.xqakx3m.mongodb.net/strykon?appName=Strykon
JWT_SECRET=strykon_super_secret_change_this_in_production
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173
ADMIN_EMAIL=admin@strykon.com
ADMIN_PASSWORD=Strykon@123
ADMIN_NAME=Strykon Admin